* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  color: #14274a;
}

/*          grid layout      */
.grid-layout {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

/*            end        */
.services .main__data .main__container p, .gallery .main__top-page p, .rooms .main__top-page p, .about .about__information-container p, .contact-us .main__top-page p, .paper .main__page p {
  font-size: 1.6rem;
  font-weight: 500;
}

.services .main__data .main__container h2, .gallery .main__top-page h2, .rooms .main__top-page h2, .about .about__information-container h2 {
  font-size: 3.3rem;
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
}

.header_sectionIndex--background {
  background-image: url("https://github.com/Angel-Landkoer/The-pictures/blob/master/img-ideaApellido/header__img--1.jpg?raw=true");
  background-position: 20%;
  color: #ffff;
}

.header_sectionFacilities--background {
  background-image: url("https://github.com/Angel-Landkoer/The-pictures/blob/master/img-ideaApellido/header__img-2.jpg?raw=true");
  background-position: 20%;
  color: #ffff;
}

.header_sectionRooms--background {
  background-image: url("https://github.com/Angel-Landkoer/The-pictures/blob/master/img-ideaApellido/header__img--3.jpg?raw=true");
  background-position: 20%;
  color: #ffff;
}

.header_sectionAbout--background {
  height: 47vh;
  background-color: #14274a;
}

.header_sectionContact--background {
  height: 47vh;
  background-color: #14274a;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__nav img {
  padding: 0;
  margin: 0 0 0 92px;
  border: 0;
  width: 150px;
  height: 90px;
}

.header__nav .toggle-open {
  display: none;
}

.header__nav .toggle-close button {
  display: none;
}

.header__nav .toggle-close .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1.6rem;
  list-style: none;
}

.header__nav .toggle-close .header__menu .menu__items a {
  padding: 8px;
  margin: 0 15px 0 0;
  border: 0;
  width: auto;
  height: auto;
  color: #ffff;
  text-decoration: none;
}

.header__nav .toggle-close .header__menu .menu__items a:hover {
  border-bottom: 2px #ffff solid;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 40px;
  margin: 80px 0 28px 92px;
  border: none;
  width: auto;
  height: auto;
  line-height: 78px;
  text-align: start;
}

.header__title .header__title-characteristic {
  font-size: 2rem;
  font-weight: 400;
}

.header__title .header__title-characteristic--adobe {
  font-size: 5.5rem;
  font-family: adobe-garamond-pro, serif;
}

.header__title #plus {
  font-size: 13.4rem;
  font-family: adobe-garamond-pro, serif;
}

.header__title .line {
  line-height: 20px;
}

.header__title-bc {
  padding: 0;
  margin: 40px 0 0 0;
  border: none;
  width: auto;
  height: auto;
  font-size: 8rem;
  text-align: center;
  color: #ffff;
}

@media (min-width: 320px) and (max-width: 580px) {
  .header__nav img {
    padding: 0;
    margin: 0 0 60px 30px;
    border: none;
    width: 125px;
    height: 85px;
  }
  .header__nav .toggle-open {
    position: absolute;
    inset: 30px 0 0 90%;
  }
  .header__nav .toggle-open .button-reset {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .header__nav .toggle-open .button-reset .fs3-icon {
    font-size: 3rem;
  }
  .header__nav .toggle-open .button-reset i {
    max-width: 100%;
    max-height: 100%;
    color: #ffff;
    z-index: 9999999999;
  }
  .header__nav .toggle-open,
  .header__nav .toggle-close {
    display: block;
  }
  .header__nav .toggle-close {
    position: fixed;
    inset: 0 0 0 0;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: #14274A;
    visibility: hidden;
    -webkit-transition: width 1s ease;
    transition: width 1s ease;
  }
  .header__nav .toggle-close .button-reset {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .header__nav .toggle-close .button-reset .fs5-icon {
    padding: 0;
    margin: 25px;
    border: none;
    width: auto;
    height: auto;
    font-size: 5rem;
  }
  .header__nav .toggle-close .button-reset i {
    max-width: 100%;
    max-height: 100%;
    color: #ffff;
    z-index: 9999999999;
  }
  .header__nav .toggle-close .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 10px;
    margin: 90px 0 0 0;
    border: none;
    width: auto;
    height: auto;
  }
  .header__nav .toggle-close .header__menu .menu__items {
    padding: 10px;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
  }
  .header__nav .toggle-close .header__menu .menu__items a {
    padding: 0;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
  }
  .header__nav .toggle-close .header__menu .menu__items a:active {
    padding: 10px;
    background-color: #cea456;
  }
  .header__nav .toggle-close .header__menu .menu__items a:hover {
    border: none;
  }
  .header__nav .show {
    visibility: visible;
    /* width:67%; */
  }
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 50px 0px 28px 10px;
    border: none;
    width: auto;
    height: auto;
    line-height: 25px;
  }
  .header__title .header__title-characteristic--adobe {
    font-size: 3.7rem;
    line-height: 36px;
  }
  .header__title #plus {
    font-size: 5rem;
  }
  .header__title-bc {
    font-size: 5rem;
    font-family: adobe-garamond-pro, serif;
    color: #ffff;
  }
}

.services {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: auto;
}

.services .main__top-page {
  padding: 20px;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 27px;
}

.services #size {
  padding: 0;
  margin: 70px 0;
  border: none;
  width: auto;
  height: auto;
  font-size: 2rem;
}

.services .main__data .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0 0 20px 0;
  border: none;
  width: auto;
  height: auto;
}

.services .main__data .main__container p {
  text-align: start;
}

.services .main__data .main__container h2 {
  padding: 0;
  margin: 0 0 20px 0;
  border: none;
  width: auto;
  height: auto;
  text-align: start;
}

.services .main__data .main__container .container__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 60px;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
  line-height: 27px;
}

.services .main__data .main__container .container__text .container__anchor-more {
  padding: 0;
  margin: 34px 0 0 0;
  border: none;
  width: auto;
  height: auto;
  text-align: center;
}

.services .main__data .main__container .container__text .container__anchor-more a {
  display: inline-block;
  padding: 10px;
  margin: 0;
  border: none;
  width: 100px;
  height: auto;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 6px;
  color: #ffff;
  background-color: #E0B973;
  -webkit-transition: -webkit-transform 888ms ease-in-out;
  transition: -webkit-transform 888ms ease-in-out;
  transition: transform 888ms ease-in-out;
  transition: transform 888ms ease-in-out, -webkit-transform 888ms ease-in-out;
}

.services .main__data .main__container .container__text .container__anchor-more a:hover {
  -webkit-transform: scale(1.3, 1.2);
          transform: scale(1.3, 1.2);
  background-color: #cea456;
}

.services .main__data .main__container .container__the-piture {
  padding: 0;
  margin: 0;
  border: none;
  width: auto;
  height: 390px;
}

.services .main__data .main__container .container__the-piture img {
  padding: 0;
  margin: 0;
  border: none;
  width: 560px;
  height: 390px;
  -webkit-transition: width 1s linear, height 2s linear, -webkit-transform 1s linear;
  transition: width 1s linear, height 2s linear, -webkit-transform 1s linear;
  transition: width 1s linear, height 2s linear, transform 1s linear;
  transition: width 1s linear, height 2s linear, transform 1s linear, -webkit-transform 1s linear;
}

.services .main__data .main__container .container__the-piture img:hover {
  width: 500px;
  height: 360px;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.services .main__bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 45px;
  border: none;
  width: auto;
  height: auto;
  line-height: 24px;
  text-align: center;
}

.services .main__bottom-page .bottom-page__section1 {
  font-family: adobe-garamond-pro, serif;
  font-size: 3.3rem;
  line-height: 68px;
}

.gallery {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: auto;
}

.gallery .main__top-page {
  padding: 20px;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 27px;
}

.gallery .main__top-page h2 {
  padding: 0;
  margin: 37px 0 10px 0;
  border: none;
  width: auto;
  height: auto;
}

.gallery .main__top-page p {
  padding: 20px;
  margin: 10px 0 0 0;
  border: none;
  width: auto;
  height: auto;
}

.gallery .phone-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.gallery .phone-gallery .phone-gallery__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  padding: 0;
  margin: 0 0 50px 0;
  border: none;
  width: auto;
  height: auto;
  font-size: 2.5rem;
  font-weight: 700;
}

.gallery .phone-gallery .phone-gallery__picture img {
  padding: 0;
  margin: 0;
  border: 2px #14274A solid;
  width: 1000px;
  height: 650px;
  border-radius: 6px;
  -webkit-transition: width 2s linear, height 2s linear;
  transition: width 2s linear, height 2s linear;
}

.gallery .phone-gallery .phone-gallery__picture img:hover {
  width: 700px;
  height: 450px;
}

.gallery .phone-gallery .phone-gallery__picture div {
  position: absolute;
  top: calc(90% + 25px);
  padding: 5px;
  margin: 0;
  border: none;
  width: 300px;
  height: 45px;
  text-align: center;
  background-color: #fff;
}

.gallery .main__bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 45px;
  border: none;
  width: auto;
  height: auto;
  line-height: 24px;
  text-align: center;
}

.gallery .main__bottom-page .bottom-page__section1 {
  font-family: adobe-garamond-pro, serif;
  font-size: 3.3rem;
  line-height: 68px;
}

.rooms .main__top-page {
  padding: 20px;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 27px;
}

.rooms .main__top-page h2 {
  padding: 0;
  margin: 0;
  border: none;
  width: 37px 0 10px 0;
  height: auto;
}

.rooms .main__top-page p {
  padding: 20px;
  margin: 10px 0 0 0;
  border: none;
  width: auto;
  height: auto;
}

.rooms .main__room-and-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 70px 0 0 0;
  border: none;
  width: auto;
  height: auto;
}

.rooms .main__room-and-rates figure {
  padding: 0;
  margin: 0;
  border: none;
  width: 800px;
  height: 700px;
}

.rooms .main__room-and-rates img {
  padding: 0;
  margin: 0;
  border: none;
  width: 800px;
  height: 700px;
  border-radius: 10px 10px 0 0;
}

.rooms .main__room-and-rates .room-and-rates__room-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  border: none;
  width: 800px;
  height: 70px;
  background-color: #14274A;
}

.rooms .main__room-and-rates .room-and-rates__room-types span {
  font-size: 3.3rem;
  font-weight: 700;
  color: #ffff;
}

.rooms .main__room-and-rates .room-and-rates__rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  border: 1px #14274A solid;
  width: 800px;
  height: 90px;
  border-radius: 0 0 10px 10px;
}

.rooms .main__room-and-rates .room-and-rates__rates button {
  padding: 0;
  margin: 0 50px 0 0;
  border: none;
  width: 140px;
  height: 45px;
  color: #ffff;
  border-radius: 8px;
  background-color: #E0B973;
  -webkit-transition: width 2s linear, height 2s linear, border-raduis 2s linear;
  transition: width 2s linear, height 2s linear, border-raduis 2s linear;
}

.rooms .main__room-and-rates .room-and-rates__rates button:hover {
  width: 190px;
  height: 60px;
  border-radius: 4px;
}

.rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
}

.rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture span {
  padding: 0;
  margin: 0 0 0 10px;
  border: none;
  width: auto;
  height: auto;
  font-weight: 700;
}

.rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture a i {
  padding: 0;
  margin: 0 0 0 40px;
  border: none;
  width: auto;
  height: auto;
  font-size: 2.6rem;
  color: #dba849;
}

.rooms .main__bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 45px;
  border: none;
  width: auto;
  height: auto;
  line-height: 24px;
  text-align: center;
}

.rooms .main__bottom-page .bottom-page__section1 {
  font-family: adobe-garamond-pro, serif;
  font-size: 3.3rem;
  line-height: 68px;
}

.about {
  padding: 0;
  margin: 0 0 70px 0;
  border: none;
  width: 100%;
  height: auto;
}

.about .about__information-container {
  padding: 10px;
  margin: 50px 0 0 0;
  border: none;
  width: auto;
  height: auto;
  text-align: justify;
  border-radius: 10px;
  background-color: #bdb4b4;
}

.about .about__information-container h2 {
  padding: 0;
  margin: 0 0 8px 0;
  border: none;
  width: 100%;
  height: auto;
}

.about .about__information-container p {
  line-height: 25px;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 0 50px 0;
  border: none;
  width: auto;
  height: 100vh;
}

.contact-us .main__top-page {
  padding: 20px;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 27px;
}

.contact-us .main__top-page h2 {
  padding: 0;
  margin: 37px 0 10px 0;
  border: none;
  width: auto;
  height: auto;
  font-size: 4rem;
  font-family: adobe-garamond-pro, serif;
}

.contact-us .main__top-page p {
  padding: 20px;
  margin: 10px 0 0 0;
  border: none;
  width: auto;
  height: auto;
}

.contact-us #reset {
  padding: 20px;
  margin: 20px;
  border: none;
  width: auto;
  height: auto;
  text-align: start;
}

.contact-us #reset h2 {
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
  width: auto;
  height: auto;
}

.contact-us #reset p {
  padding: 0;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
}

.contact-us .main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
  margin: 20px;
  border: none;
  width: auto;
  height: auto;
  font-size: 1.8rem;
  line-height: 50px;
}

.contact-us .main__formulary form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1.6rem;
  font-weight: 500;
}

.contact-us .main__formulary form label {
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
  width: auto;
  height: auto;
}

.contact-us .main__formulary span {
  display: block;
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
  width: auto;
  height: auto;
}

.contact-us .main__formulary .formulary__input {
  padding: 0;
  margin: 0;
  border: 1px #aaa solid;
  width: 250px;
  height: 34px;
  outline: none;
  border-radius: 2px;
}

.contact-us .main__formulary .form-send {
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 3px;
  background-color: #E0B973;
  color: #ffff;
}

.contact-us .main__formulary .form-more {
  padding: 0;
  margin: 0;
  border: none;
  width: 250px;
  height: 100px;
}

.paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
  background-color: #14274A;
}

.paper .main__page {
  padding: 20px;
  margin: 0;
  border: none;
  width: 1000px;
  height: auto;
  border-radius: 15px;
  background-color: #E5E5E5;
}

.paper .main__page h1 {
  font-size: 8rem;
  text-align: center;
  color: black;
}

.paper .main__page p {
  padding: 0;
  margin: 20px;
  border: none;
  width: auto;
  height: auto;
}

.paper .main__page .container__anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.paper .main__page .container__anchor .anchor {
  padding: 30px;
  margin: 0 50px;
  border: none;
  width: auto;
  height: auto;
  font-size: 1.6rem;
  background-color: #E0B973;
  color: #14274A;
  text-decoration: none;
  border-radius: 10px;
}

.paper .main__page .container__anchor .anchor:hover {
  -webkit-animation: rotando 1.7s;
          animation: rotando 1.7s;
}

@-webkit-keyframes rotando {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    border: 1px #1a1a1a solid;
  }
  20% {
    -webkit-transform: rotate(1.2turn);
            transform: rotate(1.2turn);
    border: 1px #262626 solid;
  }
  40% {
    -webkit-transform: rotate(1.4turn);
            transform: rotate(1.4turn);
    border: 1px #333333 solid;
  }
  60% {
    -webkit-transform: rotate(1.6turn);
            transform: rotate(1.6turn);
    border: 1px #404040 solid;
  }
  80% {
    -webkit-transform: rotate(1.8turn);
            transform: rotate(1.8turn);
    border: 1px #4d4d4d solid;
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    border: 1px #595959 solid;
  }
}

@keyframes rotando {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    border: 1px #1a1a1a solid;
  }
  20% {
    -webkit-transform: rotate(1.2turn);
            transform: rotate(1.2turn);
    border: 1px #262626 solid;
  }
  40% {
    -webkit-transform: rotate(1.4turn);
            transform: rotate(1.4turn);
    border: 1px #333333 solid;
  }
  60% {
    -webkit-transform: rotate(1.6turn);
            transform: rotate(1.6turn);
    border: 1px #404040 solid;
  }
  80% {
    -webkit-transform: rotate(1.8turn);
            transform: rotate(1.8turn);
    border: 1px #4d4d4d solid;
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    border: 1px #595959 solid;
  }
}

.paper .main__page .container__anchor .anchor:active {
  border: 1px #707070 solid;
}

@media (min-width: 320px) and (max-width: 580px) {
  .services .main__top-page {
    padding: 0;
    margin: 30px;
    border: none;
    width: auto;
    height: auto;
    font-size: 1.6rem;
    text-align: center;
  }
  .services .main__data .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 20px 0 0 0;
    border: none;
    width: auto;
    height: auto;
  }
  .services .main__data .main__container .container__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 30px;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 15px;
  }
  .services .main__data .main__container .container__text h2 {
    font-size: 3.3rem;
    font-family: adobe-garamond-pro, serif;
    font-weight: 700;
    line-height: 25px;
  }
  .services .main__data .main__container .container__text p {
    padding: 30px;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
  }
  .services .main__data .main__container .container__text .container__anchor-more {
    padding: 0;
    margin: 10px 0;
    border: none;
    width: auto;
    height: auto;
  }
  .services .main__data .main__container .container__text .container__anchor-more a {
    -webkit-transition: none;
    transition: none;
  }
  .services .main__data .main__container .container__the-piture {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 300px;
  }
  .services .main__data .main__container .container__the-piture img {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .services .main__data .main__container .container__the-piture img:hover {
    width: 100%;
    height: auto;
    -webkit-transform: none;
            transform: none;
  }
  .services .main__bottom-page {
    padding: 0;
    margin: 45px;
    border: none;
    width: auto;
    height: auto;
    font-size: 1rem;
  }
  .services .main__bottom-page .bottom-page__section1 {
    line-height: 60px;
  }
  .gallery .main__top-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 30px 0;
    border: none;
    width: auto;
    height: auto;
  }
  .gallery .main__top-page h2 {
    font-size: 3.3rem;
    font-family: adobe-garamond-pro, serif;
    font-weight: 700;
  }
  .gallery .phone-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 30px;
    margin: 0;
    border: none;
    width: 100%;
    height: auto;
  }
  .gallery .phone-gallery .phone-gallery__picture figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery .phone-gallery .phone-gallery__picture img {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .gallery .phone-gallery .phone-gallery__picture img:hover {
    width: 90%;
    height: auto;
  }
  .gallery .phone-gallery .phone-gallery__picture div {
    padding: 0;
    margin: 0;
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    -webkit-transform: translate(5px, -32px);
            transform: translate(5px, -32px);
  }
  .gallery .phone-gallery .phone-gallery__picture div span {
    font-size: 1.4rem;
  }
  .rooms .main__top-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 30px 0;
    border: none;
    width: auto;
    height: auto;
  }
  .rooms .main__top-page h2 {
    font-size: 3rem;
  }
  .rooms .main__room-and-rates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .rooms .main__room-and-rates figure {
    padding: 0;
    margin: 0;
    border: none;
    width: 95vw;
    height: 50vh;
  }
  .rooms .main__room-and-rates figure img {
    padding: 0;
    margin: 0;
    border: none;
    width: 95vw;
    height: 50vh;
  }
  .rooms .main__room-and-rates .room-and-rates__room-types {
    padding: 0;
    margin: 0;
    border: none;
    width: 95vw;
    height: 55px;
    background-color: #14274A;
  }
  .rooms .main__room-and-rates .room-and-rates__room-types span {
    font-size: 2.3rem;
  }
  .rooms .main__room-and-rates .room-and-rates__rates {
    padding: 0;
    margin: 0;
    border: 1px #14274A solid;
    width: 95vw;
    height: auto;
  }
  .rooms .main__room-and-rates .room-and-rates__rates button {
    padding: 0;
    margin: 0 15px 0 0;
    border: none;
    width: 30%;
    height: 43px;
    font-size: 1.2rem;
    -webkit-transition: none;
    transition: none;
  }
  .rooms .main__room-and-rates .room-and-rates__rates .room-and-rates__rates button:hover {
    width: 30%;
    height: 43px;
    -webkit-transform: none;
            transform: none;
  }
  .rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture a i {
    padding: 0;
    margin: 0 0 0 10px;
    border: none;
    width: auto;
    height: auto;
  }
  .rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture span {
    display: none;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about .about__information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
    margin: 15px;
    border: none;
    width: auto;
    height: auto;
  }
  .about .about__information-container h2 {
    font-size: 2.5rem;
  }
  .about .about__information-container p {
    font-size: 1.4rem;
  }
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
  }
  .contact-us #reset {
    padding: 20px;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
    text-align: center;
  }
  .contact-us #reset h2 {
    padding: 0;
    margin: 37px 0 0 0;
    border: none;
    width: auto;
    height: auto;
    font-size: 3.3rem;
    font-family: adobe-garamond-pro, serif;
    font-weight: 700;
  }
  .paper .main__page {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: auto;
  }
  .paper .main__page h1 {
    font-size: 3.7rem;
    font-family: adobe-garamond-pro, serif;
  }
  .paper .main__page p {
    padding: 0;
    margin: 20px;
    border: none;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .paper .main__page .container__anchor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .paper .main__page .container__anchor .anchor {
    padding: 20px;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .paper .main__page .container__anchor .anchor:hover {
    -webkit-animation: none;
            animation: none;
  }
  .paper .main__page .container__anchor #more {
    display: none;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px;
  margin: 0;
  border: none;
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  text-align: start;
  color: #ffff;
  background-color: #14274A;
}

.footer__container .container__data {
  font-size: 1rem;
}

.footer__container .container__links ul {
  line-height: 20px;
  list-style: none;
}

.footer__container .container__links ul a {
  text-decoration: none;
  color: #ffff;
}

.footer__container .container__links ul a:hover {
  color: #e0b973;
}

.footer__container .container__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 23px;
}

.footer__container .container__icons .fab {
  padding: 0;
  margin: 0 0 8px 0;
  border: none;
  width: auto;
  height: auto;
  font-size: 1.7rem;
}

.footer__container .container__formulaty form {
  padding: 0;
  margin: 10px 0 0 0;
  border: none;
  width: auto;
  height: auto;
}

.footer__container .container__formulaty .formulaty__input-email {
  padding: 14px;
  margin: 0;
  border: none;
  width: 190px;
  height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px #e0b973 solid;
}

.footer__container .container__formulaty .formulaty__input-send {
  position: relative;
  right: 4px;
  padding: 7px;
  margin: 0;
  border: none;
  width: auto;
  height: 32px;
  background-color: #E0B973;
}

@media (min-width: 320px) and (max-width: 580px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__container .container__data {
    display: none;
  }
  .footer__container .container__links {
    padding: 0;
    margin: 10px 0 10px 0;
    border: none;
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__container .container__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__container .container__links ul a {
    padding: 1px;
    margin: 5px;
    border: none;
    width: auto;
    height: auto;
  }
  .footer__container .container__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 10px 0 10px 0;
    border: none;
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__container .container__icons .fab {
    padding: 0;
    margin: 5px 10px 5px 10px;
    border: none;
    width: auto;
    height: auto;
  }
  .footer__container .container__icons .fab span {
    display: none;
  }
  .footer__container .container__formulaty {
    padding: 0;
    margin: 10px 0 10px 0;
    border: none;
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__container .container__formulaty span {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */