* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  color: #14274a;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__nav img {
  margin-left: 92px;
  width: 150px;
  height: 90px;
}

.header__nav .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1.6rem;
  list-style: none;
}

.header__nav .header__menu .menu__items a {
  padding: 8px;
  margin-right: 15px;
  color: #ffff;
  text-decoration: none;
}

.header__nav .header__menu .menu__items a:hover {
  border-bottom: 2px #ffff solid;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 80px 0 28px 92px;
  padding: 40px;
  line-height: 78px;
  text-align: start;
}

.header__title .header__title-characteristic {
  font-weight: 400;
}

.header__title .header__title-characteristic--adobe {
  font-size: 5.5rem;
  font-family: adobe-garamond-pro, serif;
}

.header__title #plus {
  font-size: 13.4rem;
  font-family: adobe-garamond-pro, serif;
}

.header__title .line {
  line-height: 20px;
}

.header__title-bc {
  margin-top: 40px;
  font-size: 8rem;
  text-align: center;
  color: #ffff;
}

@media (min-width: 320px) and (max-width: 580px) {
  .header__nav img {
    width: 125px;
    height: 85px;
    margin-left: 30px;
    margin-bottom: 60px;
  }
  .header__nav .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 20px;
    padding: 10px;
  }
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
    margin: 50px 0px 28px 10px;
    line-height: 25px;
  }
  .header__title .header__title-characteristic--adobe {
    font-size: 3.7rem;
    line-height: 36px;
  }
  .header__title #plus {
    font-size: 5rem;
  }
  .header__title-bc {
    font-size: 5rem;
    font-family: adobe-garamond-pro, serif;
    color: #fff;
  }
}

.services {
  width: 100%;
  height: auto;
}

.services .main__top-page {
  padding: 20px;
  text-align: center;
  line-height: 27px;
}

.services #size {
  margin: 70px 0;
  font-size: 2rem;
}

.services .main__data .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.services .main__data .main__container p {
  font-size: 1.6rem;
  text-align: start;
}

.services .main__data .main__container h2 {
  margin-bottom: 20px;
  font-size: 3.3rem;
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  text-align: start;
}

.services .main__data .main__container .container__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 60px;
  line-height: 27px;
}

.services .main__data .main__container .container__text .container__anchor-more {
  margin-top: 34px;
  text-align: center;
}

.services .main__data .main__container .container__text .container__anchor-more a {
  display: inline-block;
  padding: 10px;
  width: 100px;
  border: none;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 6px;
  color: #ffff;
  background-color: #E0B973;
  -webkit-transition: -webkit-transform 888ms ease-in-out;
  transition: -webkit-transform 888ms ease-in-out;
  transition: transform 888ms ease-in-out;
  transition: transform 888ms ease-in-out, -webkit-transform 888ms ease-in-out;
}

.services .main__data .main__container .container__text .container__anchor-more a:hover {
  -webkit-transform: scale(1.3, 1.2);
          transform: scale(1.3, 1.2);
  background-color: #cea456;
}

.services .main__data .main__container .container__the-piture {
  width: auto;
  height: 390px;
}

.services .main__data .main__container .container__the-piture img {
  width: 560px;
  height: 390px;
  -webkit-transition: width 1s linear, height 2s linear, -webkit-transform 1s linear;
  transition: width 1s linear, height 2s linear, -webkit-transform 1s linear;
  transition: width 1s linear, height 2s linear, transform 1s linear;
  transition: width 1s linear, height 2s linear, transform 1s linear, -webkit-transform 1s linear;
}

.services .main__data .main__container .container__the-piture img:hover {
  width: 500px;
  height: 360px;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.services .main__bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 45px;
  line-height: 24px;
  text-align: center;
}

.services .main__bottom-page .bottom-page__section1 {
  font-family: adobe-garamond-pro, serif;
  font-size: 3.3rem;
  line-height: 68px;
}

.gallery {
  width: 100%;
  height: auto;
}

.gallery .main__top-page {
  padding: 20px;
  text-align: center;
  line-height: 27px;
}

.gallery .main__top-page h2 {
  margin-top: 37px;
  margin-bottom: 10px;
  font-size: 3.3rem;
  font-family: adobe-garamond-pro, serif;
}

.gallery .main__top-page p {
  padding: 20px;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}

.gallery .phone-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.gallery .phone-gallery .phone-gallery__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: 700;
}

.gallery .phone-gallery .phone-gallery__picture img {
  width: 1000px;
  height: 650px;
  border: 2px #14274A solid;
  border-radius: 6px;
  -webkit-transition: width 2s linear, height 2s linear;
  transition: width 2s linear, height 2s linear;
}

.gallery .phone-gallery .phone-gallery__picture img:hover {
  width: 700px;
  height: 450px;
}

.gallery .phone-gallery .phone-gallery__picture div {
  position: absolute;
  top: calc(90% + 25px);
  width: 300px;
  height: 45px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

.gallery .main__bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 45px;
  line-height: 24px;
  text-align: center;
}

.gallery .main__bottom-page .bottom-page__section1 {
  font-family: adobe-garamond-pro, serif;
  font-size: 3.3rem;
  line-height: 68px;
}

.rooms .main__top-page {
  padding: 20px;
  text-align: center;
  line-height: 27px;
}

.rooms .main__top-page h2 {
  margin-top: 37px;
  margin-bottom: 10px;
  font-size: 4rem;
  font-family: adobe-garamond-pro, serif;
}

.rooms .main__top-page p {
  padding: 20px;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}

.rooms .main__room-and-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 70px;
}

.rooms .main__room-and-rates figure {
  width: 800px;
  height: 700px;
}

.rooms .main__room-and-rates img {
  width: 800px;
  height: 700px;
  border-radius: 10px 10px 0 0;
}

.rooms .main__room-and-rates .room-and-rates__room-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 800px;
  height: 70px;
  background-color: #14274A;
}

.rooms .main__room-and-rates .room-and-rates__room-types span {
  font-size: 3.3rem;
  font-weight: 700;
  color: #ffff;
}

.rooms .main__room-and-rates .room-and-rates__rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 800px;
  height: 90px;
  border: 1px #14274A solid;
  border-radius: 0 0 10px 10px;
}

.rooms .main__room-and-rates .room-and-rates__rates button {
  width: 140px;
  height: 45px;
  margin-right: 50px;
  color: #ffff;
  border-radius: 8px;
  background-color: #E0B973;
  -webkit-transition: width 2s linear, height 2s linear, border-raduis 2s linear;
  transition: width 2s linear, height 2s linear, border-raduis 2s linear;
}

.rooms .main__room-and-rates .room-and-rates__rates button:hover {
  width: 190px;
  height: 60px;
  border-radius: 4px;
}

.rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
}

.rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture span {
  margin-left: 10px;
  font-weight: 700;
}

.rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture a i {
  margin-left: 40px;
  font-size: 2.6rem;
  color: #dba849;
}

.rooms .main__bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 45px;
  line-height: 24px;
  text-align: center;
}

.rooms .main__bottom-page .bottom-page__section1 {
  font-family: adobe-garamond-pro, serif;
  font-size: 3.3rem;
  line-height: 68px;
}

.about {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.about .about__information-container {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #aaa;
}

.about .about__information-container h2 {
  width: 80px;
  height: 50px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 3.3rem;
  font-family: adobe-garamond-pro, serif;
}

.about .about__information-container p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 25px;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  margin-bottom: 50px;
}

.contact-us .main__top-page {
  padding: 20px;
  text-align: center;
  line-height: 27px;
}

.contact-us .main__top-page h2 {
  margin-top: 37px;
  margin-bottom: 10px;
  font-size: 4rem;
  font-family: adobe-garamond-pro, serif;
}

.contact-us .main__top-page p {
  padding: 20px;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}

.contact-us #reset {
  margin: 20px;
  padding: 20px;
  text-align: start;
}

.contact-us #reset h2 {
  margin-bottom: 10px;
}

.contact-us #reset p {
  margin: 0;
  padding: 0;
}

.contact-us .main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
  margin: 20px;
  font-size: 1.8rem;
  line-height: 50px;
}

.contact-us .main__formulary form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1.6rem;
  font-weight: 500;
}

.contact-us .main__formulary form label {
  margin-bottom: 10px;
}

.contact-us .main__formulary span {
  display: block;
  margin-bottom: 10px;
}

.contact-us .main__formulary .formulary__input {
  width: 250px;
  height: 34px;
  border: 1px #aaa solid;
  outline: none;
  border-radius: 2px;
}

.contact-us .main__formulary .form-send {
  width: 90px;
  height: 40px;
  border: none;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #e0b973;
  color: #ffff;
}

.contact-us .main__formulary .form-more {
  height: 100px;
}

.paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
  background-color: #14274A;
}

.paper .main__page {
  padding: 20px;
  width: 1000px;
  border-radius: 15px;
  background-color: #E5E5E5;
}

.paper .main__page h1 {
  font-size: 8rem;
  text-align: center;
  color: black;
}

.paper .main__page p {
  margin: 20px;
  font-size: 1.6rem;
}

.paper .main__page .container__anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.paper .main__page .container__anchor .anchor {
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.6rem;
  background-color: #E0B973;
  color: #14274A;
  text-decoration: none;
  border-radius: 10px;
}

.paper .main__page .container__anchor .anchor:hover {
  -webkit-animation: rotando 1.7s;
          animation: rotando 1.7s;
}

@-webkit-keyframes rotando {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    border: 1px #1a1a1a solid;
  }
  20% {
    -webkit-transform: rotate(1.2turn);
            transform: rotate(1.2turn);
    border: 1px #262626 solid;
  }
  40% {
    -webkit-transform: rotate(1.4turn);
            transform: rotate(1.4turn);
    border: 1px #333333 solid;
  }
  60% {
    -webkit-transform: rotate(1.6turn);
            transform: rotate(1.6turn);
    border: 1px #404040 solid;
  }
  80% {
    -webkit-transform: rotate(1.8turn);
            transform: rotate(1.8turn);
    border: 1px #4d4d4d solid;
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    border: 1px #595959 solid;
  }
}

@keyframes rotando {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    border: 1px #1a1a1a solid;
  }
  20% {
    -webkit-transform: rotate(1.2turn);
            transform: rotate(1.2turn);
    border: 1px #262626 solid;
  }
  40% {
    -webkit-transform: rotate(1.4turn);
            transform: rotate(1.4turn);
    border: 1px #333333 solid;
  }
  60% {
    -webkit-transform: rotate(1.6turn);
            transform: rotate(1.6turn);
    border: 1px #404040 solid;
  }
  80% {
    -webkit-transform: rotate(1.8turn);
            transform: rotate(1.8turn);
    border: 1px #4d4d4d solid;
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    border: 1px #595959 solid;
  }
}

.paper .main__page .container__anchor .anchor:active {
  border: 1px #707070 solid;
}

@media (min-width: 320px) and (max-width: 580px) {
  .services .main__top-page {
    margin: 30px;
    font-size: 1.6rem;
    text-align: center;
  }
  .services .main__data .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 20px;
  }
  .services .main__data .main__container .container__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 30px;
    text-align: center;
    line-height: 15px;
  }
  .services .main__data .main__container .container__text h2 {
    font-size: 3.3rem;
    line-height: 25px;
  }
  .services .main__data .main__container .container__text p {
    padding: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
  }
  .services .main__data .main__container .container__text .container__anchor-more {
    margin: 10px 0;
  }
  .services .main__data .main__container .container__text .container__anchor-more a {
    -webkit-transition: none;
    transition: none;
  }
  .services .main__data .main__container .container__the-piture img {
    width: 100%;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .services .main__data .main__container .container__the-piture img:hover {
    width: 100%;
    height: auto;
    -webkit-transform: none;
            transform: none;
  }
  .services .main__bottom-page {
    margin: 45px;
    font-size: 1rem;
  }
  .services .main__bottom-page .bottom-page__section1 {
    line-height: 60px;
  }
  .gallery .main__top-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 30px 0;
  }
  .gallery .main__top-page h2 {
    font-size: 3.3rem;
  }
  .gallery .phone-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    height: auto;
  }
  .gallery .phone-gallery .phone-gallery__picture figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery .phone-gallery .phone-gallery__picture img {
    width: 90%;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .gallery .phone-gallery .phone-gallery__picture img:hover {
    width: 90%;
    height: auto;
  }
  .gallery .phone-gallery .phone-gallery__picture div {
    width: 50%;
    border-radius: 5px;
    -webkit-transform: translate(5px, -32px);
            transform: translate(5px, -32px);
  }
  .gallery .phone-gallery .phone-gallery__picture div span {
    font-size: 1.4rem;
  }
  .rooms .main__top-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 30px 0;
  }
  .rooms .main__top-page h2 {
    font-size: 3rem;
  }
  .rooms .main__room-and-rates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .rooms .main__room-and-rates figure {
    width: 95vw;
    height: 50vh;
  }
  .rooms .main__room-and-rates figure img {
    width: 95vw;
    height: 50vh;
  }
  .rooms .main__room-and-rates .room-and-rates__room-types {
    width: 95vw;
    height: 55px;
    background-color: #14274a;
  }
  .rooms .main__room-and-rates .room-and-rates__room-types span {
    font-size: 2.3rem;
  }
  .rooms .main__room-and-rates .room-and-rates__rates {
    width: 95vw;
    height: auto;
  }
  .rooms .main__room-and-rates .room-and-rates__rates button {
    width: 30%;
    height: 43px;
    margin-right: 15px;
    font-size: 1.2rem;
    -webkit-transition: none;
    transition: none;
  }
  .rooms .main__room-and-rates .room-and-rates__rates .room-and-rates__rates button:hover {
    width: 30%;
    height: 43px;
    -webkit-transform: none;
            transform: none;
  }
  .rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture a i {
    margin-left: 10px;
  }
  .rooms .main__room-and-rates .room-and-rates__rates .rates__text-picture span {
    display: none;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about .about__information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px;
  }
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
  }
  .contact-us #reset {
    margin: 0;
    text-align: center;
  }
  .contact-us #reset h2 {
    font-size: 3.3rem;
  }
  .paper .main__page {
    width: 100%;
    height: auto;
  }
  .paper .main__page h1 {
    font-size: 3rem;
    font-family: adobe-garamond-pro, serif;
  }
  .paper .main__page p {
    margin: 20px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .paper .main__page .container__anchor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .paper .main__page .container__anchor .anchor {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .paper .main__page .container__anchor .anchor:hover {
    -webkit-animation: none;
            animation: none;
  }
  .paper .main__page .container__anchor #more {
    display: none;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 1.3rem;
  text-align: start;
  color: #ffff;
  background-color: #14274A;
}

.footer__container .container__data {
  font-size: 1rem;
}

.footer__container .container__links ul {
  line-height: 20px;
  list-style: none;
}

.footer__container .container__links ul a {
  text-decoration: none;
  color: #ffff;
}

.footer__container .container__links ul a:hover {
  color: #e0b973;
}

.footer__container .container__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 23px;
}

.footer__container .container__icons .fab {
  margin-bottom: 8px;
  font-size: 1.7rem;
}

.footer__container .container__formulaty form {
  margin-top: 10px;
}

.footer__container .container__formulaty .formulaty__input-email {
  padding: 14px;
  width: 190px;
  height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px #e0b973 solid;
}

.footer__container .container__formulaty .formulaty__input-send {
  position: relative;
  right: 4px;
  padding: 7px;
  background-color: #E0B973;
}

@media (min-width: 320px) and (max-width: 580px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__container .container__data {
    display: none;
  }
  .footer__container .container__links {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__container .container__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__container .container__links ul a {
    padding: 1px;
    margin: 5px;
  }
  .footer__container .container__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__container .container__icons .fab {
    margin: 5px 10px 5px 10px;
  }
  .footer__container .container__icons .fab span {
    display: none;
  }
  .footer__container .container__formulaty {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__container .container__formulaty span {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */