// Index: main

.services {
  @include medidas(0, 0, none, 100%, auto);

  .main__top-page {
    @include medidas(20px, 0, none, auto, auto);

    text-align: center;
    line-height: 27px;
  }

  #size {
    @include medidas(0, 70px 0, none, auto, auto);

    font-size: 2rem;
  }

  .main__data {
    .main__container {
      @include flex(row, center, center, nowrap);

      @include medidas(0, 0 0 20px 0, none, auto, auto);

      & p {
        @extend %p;

        text-align: start;
      }

      & h2 {
        @include medidas(0, 0 0 20px 0, none, auto, auto);

        @extend %h2;

        text-align: start;
      }

      .container__text {
        align-self: center;

        @include medidas(60px, 0, none, auto, auto);

        line-height: 27px;

        .container__anchor-more {
          @include medidas(0, 34px 0 0 0, none, auto, auto);

          text-align: center;

          & a {
            display: inline-block;

            @include medidas(10px, 0, none, 100px, auto);

            font-size: 1.5rem;

            text-decoration: map-get($nothing, decoracion);
            border-radius: 6px;
            color: $secondaryColor;
            background-color: $tertiarybackground;
            transition: transform 888ms ease-in-out;
          }

          & a:hover {
            transform: scale(1.3, 1.2);
            background-color: #cea456;
          }
        }
      }

      .container__the-piture {
        @include medidas(0, 0, none, auto, 390px);

        & img {
          @include medidas(0, 0, none, 560px, 390px);

          transition: width 1s linear, height 2s linear, transform 1s linear;
        }
        & img:hover {
          width: 500px;
          height: 360px;
          transform: translateX(-40px);
        }
      }
    }
  }
  //      index, facilities and rooms: main__bottom-page and bottom-page__section1
  .main__bottom-page {
    @include flex(row, center, center, nowrap);

    @include medidas(0, 45px, none, auto, auto);

    line-height: 24px;
    text-align: center;

    .bottom-page__section1 {
      font-family: adobe-garamond-pro, serif;
      font-size: $defaultFont-size-bottom-page-etc;

      line-height: 68px;
    }
  }
  //          end
}

// facilities: main

.gallery {
  @include medidas(0, 0, none, 100%, auto);

  //   tope del contenido del todos los main de cada pagina

  .main__top-page {
    @include medidas(20px, 0, none, auto, auto);

    text-align: center;
    line-height: 27px;

    & h2 {
      @include medidas(0, 37px 0 10px 0, none, auto, auto);

      @extend %h2;
    }

    & p {
      @include medidas(20px, 10px 0 0 0, none, auto, auto);

      @extend %p;
    }
  }

  //            end

  .phone-gallery {
    @include flex(column, center, center, nowrap);

    .phone-gallery__picture {
      @include flex(column, center, center, nowrap);
      position: relative;

      @include medidas(0, 0 0 50px 0, none, auto, auto);

      font-size: 2.5rem;
      font-weight: $thirdLevel;

      & img {
        @include medidas(0, 0, 2px $primaryColor solid, 1000px, 650px);

        border-radius: 6px;
        transition: width 2s linear, height 2s linear;
      }

      & img:hover {
        width: 700px;
        height: 450px;
      }

      & div {
        position: absolute;
        top: calc(90% + 25px);

        @include medidas(5px, 0, none, 300px, 45px);

        text-align: center;

        background-color: #fff;
      }
    }
  }
  //      index, facilities and rooms: main__bottom-page and bottom-page__section1
  .main__bottom-page {
    @include flex(row, center, center, nowrap);

    @include medidas(0, 45px, none, auto, auto);

    line-height: 24px;
    text-align: center;

    .bottom-page__section1 {
      font-family: adobe-garamond-pro, serif;
      font-size: $defaultFont-size-bottom-page-etc;

      line-height: 68px;
    }
  }
  //          end
}

// Rooms: main

.rooms {
  .main__top-page {
    @include medidas(20px, 0, none, auto, auto);

    text-align: center;
    line-height: 27px;

    & h2 {
      @include medidas(0, 0, none, 37px 0 10px 0, auto);

      @extend %h2;
    }

    & p {
      @include medidas(20px, 10px 0 0 0, none, auto, auto);

      @extend %p;
    }
  }

  .main__room-and-rates {
    @include flex(column, center, center, nowrap);

    @include medidas(0, 70px 0 0 0, none, auto, auto);

    & figure {
      @include medidas(0, 0, none, 800px, 700px);
    }

    & img {
      @include medidas(0, 0, none, 800px, 700px);

      border-radius: 10px 10px 0 0;
    }

    .room-and-rates__room-types {
      @include flex(row, center, center, nowrap);

      @include medidas(0, 0, none, 800px, 70px);

      background-color: $secondarbackground;

      & span {
        font-size: $defaultFont-size-bottom-page-etc;
        font-weight: $thirdLevel;

        color: $secondaryColor;
      }
    }

    .room-and-rates__rates {
      @include flex(row, space-between, center, nowrap);

      @include medidas(0, 0, 1px $primaryColor solid, 800px, 90px);

      border-radius: 0 0 10px 10px;

      & button {
        @include medidas(0, 0 50px 0 0, none, 140px, 45px);

        color: $secondaryColor;
        border-radius: 8px;
        background-color: $tertiarybackground;
        transition: width 2s linear, height 2s linear, border-raduis 2s linear;
      }

      & button:hover {
        width: 190px;
        height: 60px;

        border-radius: 4px;
      }

      .rates__text-picture {
        @include flex(row, center, center, nowrap);

        @include medidas(20px, 0, none, auto, auto);

        & span {
          @include medidas(0, 0 0 0 10px, none, auto, auto);

          font-weight: $thirdLevel;
        }

        & a i {
          @include medidas(0, 0 0 0 40px, none, auto, auto);

          font-size: 2.6rem;

          color: #dba849;
        }
      }
    }
  }
  //      index, facilities and rooms: main__bottom-page and bottom-page__section1
  .main__bottom-page {
    @include flex(row, center, center, nowrap);

    @include medidas(0, 45px, none, auto, auto);

    line-height: 24px;
    text-align: center;

    .bottom-page__section1 {
      font-family: adobe-garamond-pro, serif;
      font-size: $defaultFont-size-bottom-page-etc;

      line-height: 68px;
    }
  }
  //          end
}

// About: main

.about {
  @include medidas(0, 0 0 70px 0, none, 100%, auto);

  .about__information-container {
    @include medidas(10px, 50px 0 0 0, none, auto, auto);
    text-align: justify;

    border-radius: 10px;
    background-color: #bdb4b4 ;

    & h2 {
      @include medidas(0, 0 0 8px 0, none, 100%, auto);

      @extend %h2;
    }

    & p {
      @extend %p;
      line-height: 25px;
    }
  }
}

// Contact: main

.contact-us {
  @include flex(row, space-around, center, wrap);

  @include medidas(0, 0 0 50px 0, none, auto, 100vh);

  .main__top-page {
    @include medidas(20px, 0, none, auto, auto);

    text-align: center;
    line-height: 27px;

    & h2 {
      @include medidas(0, 37px 0 10px 0, none, auto, auto);

      font-size: $defaultFont-size-top-page-etc;
      font-family: adobe-garamond-pro, serif;
    }

    & p {
      @include medidas(20px, 10px 0 0 0, none, auto, auto);

      @extend %p;
    }
  }

  #reset {
    @include medidas(20px, 20px, none, auto, auto);

    text-align: start;

    & h2 {
      @include medidas(0, 0 0 10px 0, none, auto, auto);
    }

    & p {
      @include medidas(0, 0, none, auto, auto);
    }
  }

  .main__text {
    @include flex(column, center, flex-start, nowrap);

    @include medidas(20px, 20px, none, auto, auto);

    font-size: 1.8rem;
    line-height: 50px;
  }

  .main__formulary {
    & form {
      @include flex(column, center, flex-end, nowrap);

      font-size: $defaultFont-size;
      font-weight: $secondLevel;
    }

    & form label {
      @include medidas(0, 0 0 10px 0, none, auto, auto);
    }

    & span {
      display: block;

      @include medidas(0, 0 0 10px 0, none, auto, auto);
    }

    & .formulary__input {
      @include medidas(0, 0, 1px #aaa solid, 250px, 34px);

      outline: none;

      border-radius: 2px;
    }

    & .form-send {
      @include medidas(0, 0 0 10px 0, none, 90px, 40px);

      border-radius: 3px;
      background-color: $tertiarybackground;
      color: $secondaryColor;
    }

    & .form-more {
      @include medidas(0, 0, none, 250px, 100px);
    }
  }
}

// Term-conditions: main

.paper {
  @include flex(column, center, center, nowrap);

  @include medidas(20px, 0, none, auto, auto);

  background-color: $secondarbackground;

  .main__page {
    @include medidas(20px, 0, none, 1000px, auto);

    border-radius: 15px;
    background-color: $primarybackground;

    & h1 {
      font-size: 8rem;
      text-align: center;

      color: black;
    }

    & p {
      @include medidas(0, 20px, none, auto, auto);

      @extend %p;
    }
    .container__anchor {
      @include flex(row, space-between, center, nowrap);

      & .anchor {
        @include medidas(30px, 0 50px, none, auto, auto);

        font-size: $defaultFont-size;

        background-color: $tertiarybackground;
        color: $primaryColor;
        text-decoration: map-get($nothing, decoracion);
        border-radius: 10px;
      }

      & .anchor:hover {
        animation: rotando 1.7s;
      }

      @keyframes rotando {
        0% {
          transform: rotate(1turn);
          border: 1px #1a1a1a solid;
        }

        20% {
          transform: rotate(1.2turn);
          border: 1px #262626 solid;
        }

        40% {
          transform: rotate(1.4turn);
          border: 1px #333333 solid;
        }

        60% {
          transform: rotate(1.6turn);
          border: 1px #404040 solid;
        }
        80% {
          transform: rotate(1.8turn);
          border: 1px #4d4d4d solid;
        }

        100% {
          transform: rotate(2turn);
          border: 1px #595959 solid;
        }
      }

      & .anchor:active {
        border: 1px rgb(112, 112, 112) solid;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 580px) {
  //     Index: main section

  .services {
    .main__top-page {
      @include medidas(0, 30px, none, auto, auto);

      font-size: $defaultFont-size;
      text-align: center;
    }

    .main__data {
      .main__container {
        @include flex(column-reverse, center, center, nowrap);

        @include medidas(0, 20px 0 0 0, none, auto, auto);

        .container__text {
          @include flex(column, center, center, nowrap);

          @include medidas(30px, 0, none, auto, auto);

          text-align: center;
          line-height: 15px;

          & h2 {
            font-size: $defaultFont-size-bottom-page-etc;
            font-family: adobe-garamond-pro, serif;
            font-weight: $thirdLevel;
            line-height: 25px;
          }

          & p {
            @include medidas(30px, 0, none, auto, auto);

            font-size: 1.2rem;
            font-weight: $secondLevel;

            text-align: justify;
          }

          & .container__anchor-more {
            @include medidas(0, 10px 0, none, auto, auto);

            & a {
              transition: none;
            }
          }
        }
        .container__the-piture {
          @include medidas(0, 0, none, 100%, 300px);

          & img {
            @include medidas(0, 0, none, 100%, auto);

            transition: none;
          }

          & img:hover {
            width: 100%;
            height: auto;
            transform: none;
          }
        }
      }
    }

    .main__bottom-page {
      @include medidas(0, 45px, none, auto, auto);

      font-size: 1rem;

      .bottom-page__section1 {
        line-height: 60px;
      }
    }
  }

  //        end section

  //    Facilities: main section

  .gallery {
    .main__top-page {
      @include flex(column, center, center, nowrap);

      @include medidas(0, 30px 0, none, auto, auto);

      & h2 {
        font-size: $defaultFont-size-bottom-page-etc;
        font-family: adobe-garamond-pro, serif;
        font-weight: $thirdLevel;
      }
    }

    .phone-gallery {
      @include flex(column, center, center, nowrap);

      @include medidas(30px, 0, none, 100%, auto);

      & .phone-gallery__picture figure {
        @include flex(row, center, center, nowrap);
      }

      & .phone-gallery__picture img {
        @include medidas(0, 0, none, 100%, auto);

        transition: none;
      }

      & .phone-gallery__picture img:hover {
        width: 90%;
        height: auto;
      }

      & .phone-gallery__picture div {
        @include medidas(0, 0, none, 50%, 40px);

        border-radius: 5px;
        transform: translate(5px, -32px);
      }

      & .phone-gallery__picture div span {
        font-size: 1.4rem;
      }
    }
  }
  //   end section

  //  Rooms: main sectio

  .rooms {
    .main__top-page {
      @include flex(column, center, center, nowrap);

      @include medidas(0, 30px 0, none, auto, auto);

      & h2 {
        font-size: 3rem;
      }
    }
    .main__room-and-rates {
      @include flex(column, center, center, nowrap);

      & figure {
        @include medidas(0, 0, none, 95vw, 50vh);

        & img {
          @include medidas(0, 0, none, 95vw, 50vh);
        }
      }
      .room-and-rates__room-types {
        @include medidas(0, 0, none, 95vw, 55px);

        background-color: $secondarbackground;

        & span {
          font-size: 2.3rem;
        }
      }

      .room-and-rates__rates {
        @include medidas(0, 0, 1px #14274A solid, 95vw, auto);

        & button {
          @include medidas(0, 0 15px 0 0, none, 30%, 43px);

          font-size: 1.2rem;

          transition: none;
        }

        & .room-and-rates__rates button:hover {
          width: 30%;
          height: 43px;

          transform: none;
        }

        .rates__text-picture {
          & a i {
            @include medidas(0, 0 0 0 10px, none, auto, auto);
          }

          & span {
            display: map-get($nothing, desplegar);
          }
        }
      }
    }
  }

  //        end

  //    About: main section

  .about {
    @include flex(column, center, center, nowrap);

    .about__information-container {
      @include flex(column, center, center, wrap);

      @include medidas(10px, 15px, none, auto, auto);

      & h2 {
        font-size: 2.5rem
      }

      & p {
        font-size: 1.4rem
      }
    }
  }

  //    end

  //    Contact: main section

  .contact-us {
    @include flex(column, center, center, nowrap);

    @include medidas(0, 0, none, auto, auto);

    #reset {
      @include medidas(20px, 0, none, auto, auto);

      text-align: center;

      & h2 {
        @include medidas(0, 37px 0 0 0, none, auto, auto);
        font-size: $defaultFont-size-bottom-page-etc;
        font-family: adobe-garamond-pro, serif;
        font-weight: $thirdLevel;
      }
    }
  }

  //   Term-conditions: main section

  .paper {
    .main__page {
      @include medidas(0, 0, none, 100%, auto);

      & h1 {
        font-size: 3.7rem;
        font-family: adobe-garamond-pro, serif;
      }

      & p {
        @include medidas(0, 20px, none, auto, auto);

        font-size: 1.2rem;
        font-weight: $secondLevel;
      }

      .container__anchor {
        @include flex(row, center, center, nowrap);

        & .anchor {
          @include medidas(20px, 0, none, auto, auto);

          font-size: 1.2rem;
          font-weight: $secondLevel;

          &:hover {
            animation: none;
          }
        }

        & #more {
          display: map-get($nothing, desplegar);
        }
      }
    }
  }
  //            end
}
