/*        Reset section       */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;

  background-color: #e5e5e5;
  color: #14274a;
}
/*        End section       */

/*       first section      */

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header__nav img {
  margin-left: 92px;
  width: 150px;
  height: 90px;
}

.header__menu {
  display: flex;
  justify-content: space-around;

  font-size: 1.6rem;

  list-style: none;
}

.menu__items a {
  padding: 8px;
  margin-right: 15px;

  color: #fff;
  text-decoration: none;
}

.menu__items a:hover {
  border-bottom: 2px #fff solid;
}

.header__title-bc {
  margin-top: 40px;

  font-size: 8rem;
  text-align: center;

  color: #fff;
}

/*           end section            */

/*          second section           */

.about {
  margin-bottom: 70px;
}

.about__information-container {
  width: 1300px;
  height: auto;
  padding: 10px;
  margin-top: 50px;
  margin-left: 20px;

  border-radius: 10px;
  background-color: #aaa;
}

.about__information-container h2 {
  width: 80px;
  height: 50px;
  margin-bottom: 8px;

  text-align: center;
  font-size: 3.3rem;
  font-family: adobe-garamond-pro, serif;
}

.about__information-container p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 25px;
}

/*         end section            */

/*         third section      */

.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

  padding: 10px;

  font-size: 1.3rem;
  text-align: start;

  color: #f7f7f7;
  background-color: #14274a;
}

.container__data {
  font-size: 1rem;
}

.container__links ul {
  line-height: 20px;
  list-style: none;
}

.container__links ul a {
  text-decoration: none;
  color: #f7f7f7;
}

.container__links ul a:hover {
  color: #e0b973;
}

.container__icons {
  display: flex;
  flex-direction: column;

  line-height: 23px;
}

.fab {
  margin-bottom: 8px;
  font-size: 1.7rem;
}

.container__formulaty form {
  margin-top: 10px;
}

.formulaty__input-email {
  padding: 14px;
  width: 190px;
  height: 20px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px #e0b973 solid;
}

.formulaty__input-send {
  position: relative;
  right: 4px;

  padding: 7px;

  background-color: #e0b973;
}

/*            end section                */
