/*        Reset section       */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
  
    background-color: #E5E5E5;
    color: #14274a;
  }
  /*        End section       */