/*        Reset section       */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;

  background-color: #e5e5e5;
  color: #14274a;
}
/*        End section       */

/* first section */

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header__nav img {
  margin-left: 92px;
  width: 150px;
  height: 90px;
}

.header__menu {
  display: flex;
  justify-content: space-around;

  font-size: 1.6rem;

  list-style: none;
}

.menu__items a {
  padding: 8px;
  margin-right: 15px;

  color: #fff;
  text-decoration: none;
}

.menu__items a:hover {
  border-bottom: 2px #fff solid;
}

.header__title {
  display: flex;
  flex-direction: column;

  margin: 80px 0px 28px 92px;
  padding: 40px;

  line-height: 78px;
  text-align: start;
}

.header__title-characteristic {
  font-weight: 400;
}

.header__title-characteristic--adobe {
  font-size: 5.5rem;
  font-family: adobe-garamond-pro, serif;
}

#plus {
  font-size: 13.4rem;
  font-family: adobe-garamond-pro, serif;
}

.line {
  line-height: 20px;
}

/*           end section            */

/*       second section        */


.main__top-page {
  display: flex;
  justify-content: center;

  margin: 70px;

  font-size: 2.3rem;

  font-weight: 500;
}

.main__data {
  display: flex;
  flex-direction: column;
}

.container__text {
  align-self: center;

  padding: 30px;

  line-height: 27px;
}

.main__container {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

.container__anchor-more {
  margin-top: 34px;

  text-align: center;
}

.container__anchor-more a {
  display: inline-block;

  padding: 10px;
  width: 100px;
  border: none;

  font-size: 1.5rem;

  text-decoration: none;
  border-radius: 6px;
  background-color: #e0b973;
  color: #f7f7f7;
}

.container__anchor-more a:hover {
  background-color: #cea456;
}

.main__container p {
  font-size: 1.6rem;

  text-align: start;
}

.main__container h2 {
  margin-bottom: 20px;

  font-size: 3.3rem;
  font-family: adobe-garamond-pro, serif;

  font-weight: 700;
  text-align: start;
}

.main__container img {
  width: 560px;
  height: 390px;
}

.container__the-piture {
  margin: 20px;
}

.main__bottom-page {
  display: flex;
  justify-content: center;

  margin: 45px;

  line-height: 24px;
  text-align: center;
}

.bottom-page__section1 {
  font-family: adobe-garamond-pro, serif;
  font-size: 3.3rem;

  line-height: 68px;
}

/*          end section                 */

/*     third section       */

.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

  padding: 10px;

  font-size: 1.3rem;
  text-align: start;

  color: #f7f7f7;
  background-color: #14274a;
}

.container__data {
  font-size: 1rem;
}

.container__links ul {
  line-height: 20px;
  list-style: none;
}

.container__links ul a {
  text-decoration: none;
  color: #f7f7f7;
}

.container__links ul a:hover {
  color: #e0b973;
}

.container__icons {
  display: flex;
  flex-direction: column;

  line-height: 23px;
}

.fab {
  margin-bottom: 8px;
  font-size: 1.7rem;
}

.container__formulaty form {
  margin-top: 10px;
}

.formulaty__input-email {
  padding: 14px;
  width: 190px;
  height: 20px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px #e0b973 solid;
}

.formulaty__input-send {
  position: relative;
  right: 4px;

  padding: 7px;

  background-color: #e0b973;
}

/*            end section                */
